h2 {
    height: 3vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: blue;
    background-color: antiquewhite;
}

p {
    font-size: 1.5vw;
    color: green;
}
